
body {
	margin: 0;
	font-family: sans-serif;
}

#outer {
	width: 100%;
	text-align: center;
}

.inner {
	display: inline-block;
}

.navbar {
	transition: all 0.4s;
}

.navbar .nav-link {
	color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
	color: #fff;
	text-decoration: none;
}

.navbar .navbar-brand {
	color: #fff;
}

/* Change navbar styling on scroll */

.navbar.active {
	background: #fff;
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
	color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
	color: #555;
	text-decoration: none;
}

.navbar.active .navbar-brand {
	color: #555;
}


/* Change navbar styling on small viewports */

@media (max-width: 991.98px) {
	.navbar {
		background: #fff;
	}
	.navbar .navbar-brand,
	.navbar .nav-link {
		color: #000;
	}
}

body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.searchbar {
	margin-bottom: auto;
	margin-top: auto;
	height: 60px;
	background-color: #353b48;
	border-radius: 30px;
	padding: 10px;
}

.search_input {
	color: white;
	border: 0;
	outline: 0;
	background: none;
	width: 0;
	caret-color: transparent;
	line-height: 40px;
}

.search_input {
	padding: 0 10px;
	width: 450px;
	caret-color: red;
}

.searchbar:hover>.search_icon {
	background: white;
	color: #e74c3c;
}

.search_icon {
	height: 40px;
	width: 40px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: white;
}

.hero {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/banner.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.hero h1 {
	font-size: 5em;
	margin-top: 0;
	margin-bottom: 0.3em;
}

.hero .btn {
	display: block;
	width: 150px;
	padding: 0.5em;
	margin-top: 13px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-decoration: none;
	font-family: Lato;
	font-size: 1em;
	border: 0.7px solid white;
	border-radius: 10px;
	background-color: rgba(237, 63, 54, 0.8);
}
